.bntColor {
	background-color: #555555;
	color: #ffffff;
	margin-bottom: 20px;
	transition: all .3s;
}

.bntColor:hover {
	background-color: #999999;
	color: #ffffff;
}

.backModal {
	background-color: #44c8e2;
	color: #ffffff;
}

.close {
	color: #ffffff;
}