.btnColor {
	background-color: #44C8E2;
	color: #ffffff;
	transition: all .3s;
}

.btnColor:hover {
	background-color: #999999;
	color: #ffffff;
}

.backModal {
	background-color: #44c8e2;
	color: #ffffff;
}

.close {
	color: #ffffff;
}

.info-gral {
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
}

.info-servicio {
	background-color: transparent!important;
	border: none!important;
	margin: 5px auto;
}

.contVerificacion {
	margin-top: 80px;
	justify-content: center;
}

.verificarCorreo h3 {
	font-size: 100px;
	text-shadow: 4px 4px 1px #dadada;
}

.hero {
	position: relative;
}

.hero h2 {
	position: absolute;
	bottom: 2rem;
	right: 0;
	background-color: #343A40;
	font-weight: 900;
	color: #ffffff;
	font-size: 2.8rem;
}

.contenido-principal p {
	font-size: 1.2rem;
	line-height: 2.2rem;
}

.registros {
	transition: all .3s;
}

.registros:hover {
	transform: translateY(-15px);
}

.registros a {
	text-decoration: none;
}

.registros h3 {
	color: #000;
}

.btnEventos {
	margin-top: -50px;
	margin-bottom: 30px;
}
aside {
	border: 1px dotted #555555;
}

/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/
@media (min-width:1200px) {
	
}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/
@media (max-width:1199px) and (min-width:992px) {

}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/
@media (max-width:991px) and (min-width:768px) {
	
}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/
@media (max-width:767px) {
	.verificarCorreo h3 {
		font-size: 70px;
		text-shadow: 2px 2px 1px #dadada;
	}

	.contVerificacion {
		margin-top: 40px;
		margin-bottom: 30px;
	}
}