.btnColor {
	background-color: #44C8E2;
	color: #ffffff;
	transition: all .3s;
}

.btnColor:hover {
	background-color: #999999;
	color: #ffffff;
}

.backModal {
	background-color: #44c8e2;
	color: #ffffff;
}

.close {
	color: #ffffff;
}

.info-gral {
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
}

.info-servicio {
	background-color: transparent!important;
	border: none!important;
	margin: 5px auto;
}